In [1]:
import keras

C:\Users\virendra\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
import tensorflow

In [8]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [51]:
dataset = pd.read_csv('ANN\Artificial_Neural_Networks\Churn_Modelling.csv')

In [52]:
dataset.head

<bound method NDFrame.head of       RowNumber  CustomerId         Surname  CreditScore Geography  Gender  \
0             1    15634602        Hargrave          619    France  Female
1             2    15647311            Hill          608     Spain  Female
2             3    15619304            Onio          502    France  Female
3             4    15701354            Boni          699    France  Female
4             5    15737888        Mitchell          850     Spain  Female
5             6    15574012             Chu          645     Spain    Male
6             7    15592531        Bartlett          822    France    Male
7             8    15656148          Obinna          376   Germany  Female
8             9    15792365              He          501    France    Male
9            10    15592389              H?          684    France    Male
10           11    15767821          Bearce          528    France    Male
11           12    15737173         Andrews          497     Spain    Male
12           13    15632264             Kay          476    France  Female
13           14    15691483            Chin          549    France  Female
14           15    15600882           Scott          635     Spain  Female
15           16    15643966         Goforth          616   Germany    Male
16           17    15737452           Romeo          653   Germany    Male
17           18    15788218       Henderson          549     Spain  Female
18           19    15661507         Muldrow          587     Spain    Male
19           20    15568982             Hao          726    France  Female
20           21    15577657        McDonald          732    France    Male
21           22    15597945        Dellucci          636     Spain  Female
22           23    15699309       Gerasimov          510     Spain  Female
23           24    15725737          Mosman          669    France    Male
24           25    15625047             Yen          846    France  Female
25           26    15738191         Maclean          577    France    Male
26           27    15736816           Young          756   Germany    Male
27           28    15700772         Nebechi          571    France    Male
28           29    15728693      McWilliams          574   Germany  Female
29           30    15656300        Lucciano          411    France    Male
...         ...         ...             ...          ...       ...     ...
9970       9971    15587133        Thompson          518    France    Male
9971       9972    15721377            Chou          833    France  Female
9972       9973    15747927           Ch'in          758    France    Male
9973       9974    15806455          Miller          611    France    Male
9974       9975    15695474          Barker          583    France    Male
9975       9976    15666295           Smith          610   Germany    Male
9976       9977    15656062         Azikiwe          637    France  Female
9977       9978    15579969         Mancini          683    France  Female
9978       9979    15703563           P'eng          774    France    Male
9979       9980    15692664          Diribe          677    France  Female
9980       9981    15719276            T'ao          741     Spain    Male
9981       9982    15672754        Burbidge          498   Germany    Male
9982       9983    15768163         Griffin          655   Germany  Female
9983       9984    15656710           Cocci          613    France    Male
9984       9985    15696175  Echezonachukwu          602   Germany    Male
9985       9986    15586914          Nepean          659    France    Male
9986       9987    15581736        Bartlett          673   Germany    Male
9987       9988    15588839         Mancini          606     Spain    Male
9988       9989    15589329         Pirozzi          775    France    Male
9989       9990    15605622        McMillan          841     Spain    Male
9990       9991    15798964      Nkemakonam          714   Germany    Male
9991       9992    15769959     Ajuluchukwu          597    France  Female
9992       9993    15657105     Chukwualuka          726     Spain    Male
9993       9994    15569266          Rahman          644    France    Male
9994       9995    15719294            Wood          800    France  Female
9995       9996    15606229        Obijiaku          771    France    Male
9996       9997    15569892       Johnstone          516    France    Male
9997       9998    15584532             Liu          709    France  Female
9998       9999    15682355       Sabbatini          772   Germany    Male
9999      10000    15628319          Walker          792    France  Female

      Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0      42       2       0.00              1          1               1
1      41       1   83807.86              1          0               1
2      42       8  159660.80              3          1               0
3      39       1       0.00              2          0               0
4      43       2  125510.82              1          1               1
5      44       8  113755.78              2          1               0
6      50       7       0.00              2          1               1
7      29       4  115046.74              4          1               0
8      44       4  142051.07              2          0               1
9      27       2  134603.88              1          1               1
10     31       6  102016.72              2          0               0
11     24       3       0.00              2          1               0
12     34      10       0.00              2          1               0
13     25       5       0.00              2          0               0
14     35       7       0.00              2          1               1
15     45       3  143129.41              2          0               1
16     58       1  132602.88              1          1               0
17     24       9       0.00              2          1               1
18     45       6       0.00              1          0               0
19     24       6       0.00              2          1               1
20     41       8       0.00              2          1               1
21     32       8       0.00              2          1               0
22     38       4       0.00              1          1               0
23     46       3       0.00              2          0               1
24     38       5       0.00              1          1               1
25     25       3       0.00              2          0               1
26     36       2  136815.64              1          1               1
27     44       9       0.00              2          0               0
28     43       3  141349.43              1          1               1
29     29       0   59697.17              2          1               1
...   ...     ...        ...            ...        ...             ...
9970   42       7  151027.05              2          1               0
9971   34       3  144751.81              1          0               0
9972   26       4  155739.76              1          1               0
9973   27       7       0.00              2          1               1
9974   33       7  122531.86              1          1               0
9975   50       1  113957.01              2          1               0
9976   33       7  103377.81              1          1               0
9977   32       9       0.00              2          1               1
9978   40       9   93017.47              2          1               0
9979   58       1   90022.85              1          0               1
9980   35       6   74371.49              1          0               0
9981   42       3  152039.70              1          1               1
9982   46       7  137145.12              1          1               0
9983   40       4       0.00              1          0               0
9984   35       7   90602.42              2          1               1
9985   36       6  123841.49              2          1               0
9986   47       1  183579.54              2          0               1
9987   30       8  180307.73              2          1               1
9988   30       4       0.00              2          1               0
9989   28       4       0.00              2          1               1
9990   33       3   35016.60              1          1               0
9991   53       4   88381.21              1          1               0
9992   36       2       0.00              1          1               0
9993   28       7  155060.41              1          1               0
9994   29       2       0.00              2          0               0
9995   39       5       0.00              2          1               0
9996   35      10   57369.61              1          1               1
9997   36       7       0.00              1          0               1
9998   42       3   75075.31              2          1               0
9999   28       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
5           149756.71       1
6            10062.80       0
7           119346.88       1
8            74940.50       0
9            71725.73       0
10           80181.12       0
11           76390.01       0
12           26260.98       0
13          190857.79       0
14           65951.65       0
15           64327.26       0
16            5097.67       1
17           14406.41       0
18          158684.81       0
19           54724.03       0
20          170886.17       0
21          138555.46       0
22          118913.53       1
23            8487.75       0
24          187616.16       0
25          124508.29       0
26          170041.95       0
27           38433.35       0
28          100187.43       0
29           53483.21       0
...               ...     ...
9970        119377.36       0
9971        166472.81       0
9972        171552.02       0
9973        157474.10       0
9974         13549.24       0
9975        196526.55       1
9976         84419.78       0
9977         24991.92       0
9978        191608.97       0
9979          2988.28       0
9980         99595.67       0
9981         53445.17       1
9982        115146.40       1
9983        151325.24       0
9984         51695.41       0
9985         96833.00       0
9986         34047.54       0
9987          1914.41       0
9988         49337.84       0
9989        179436.60       0
9990         53667.08       0
9991         69384.71       1
9992        195192.40       0
9993         29179.52       0
9994        167773.55       0
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [53]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [54]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [50]:
type(X)

numpy.ndarray

In [55]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

In [59]:
X=X[:, 1:]

In [61]:
# splitting dataset into trainin and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [64]:
#feature scalling
from sklearn.preprocessing import StandardScaler

In [65]:
sc=StandardScaler()
x_train=sc.fit_transform(X_train)
x_test=sc.transform(X_test)

In [71]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=11)
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=11, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [72]:
y_pre=clf.predict(x_test)

In [74]:
from sklearn.model_selection import cross_val_score as csv

In [77]:
scores=csv(clf,x_test,y_pre)




 Predicting the Test set results
y_pred = classifier.predict(X_test)

 Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [78]:
scores.mean()

0.9219977098537818

# part 2 ANN

In [83]:
from keras import Sequential

In [85]:
from keras.layers import Dense

In [86]:
#initializing an ANN

In [87]:
classifier = Sequential()

In [ ]:
#adding input layer to classier
classifier.add()