In [1]:
import keras

C:\Users\virendra\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
import tensorflow

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('ANN\Artificial_Neural_Networks\Churn_Modelling.csv')

In [9]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [5]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [6]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [7]:
type(X)

numpy.ndarray

In [8]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

In [261]:
X=X[:, 1:]

In [262]:
# splitting dataset into trainin and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
#feature scalling
from sklearn.preprocessing import StandardScaler

In [263]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [15]:
sc=StandardScaler()
x_train=sc.fit_transform(X_train)
x_test=sc.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=11)
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=11, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [17]:
y_pre=clf.predict(x_test)

In [229]:
x_test.shape

(2000, 11)

In [19]:
from sklearn.model_selection import cross_val_score as csv

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pre)

In [21]:
y_pre=(y_pre>0.5)
unique_elements, counts_elements = np.unique(y_pre, return_counts=True)




 Predicting the Test set results
y_pred = classifier.predict(X_test)

 Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [22]:
cm

array([[1487,  108],
       [ 185,  220]], dtype=int64)

In [23]:
1696/2000

0.848

# part 2 ANN

In [24]:
from keras import Sequential

In [25]:
from keras.layers import Dense

In [ ]:
from keras.layers import Dropout

In [26]:
#initializing an ANN

In [232]:
classifier = Sequential()

In [233]:
#adding input layer to classier and the first input layer 
classifier.add(Dense(output_dim=6,init='uniform',activation='relu',input_dim=11))

C:\Users\virendra\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

In [ ]:
classifier.add(Dropout(p=0.1))

In [234]:
classifier

In [235]:
#adding the second hidden layer
classifier.add(Dense(output_dim=6,init='uniform',activation='relu'))

C:\Users\virendra\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

In [236]:
#addu=ing the output layer
classifier.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))

C:\Users\virendra\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [237]:
#compiling the ANN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [238]:
#fitting the ANN to the Training set
classifier.fit(X_train,y_train,batch_size=10,nb_epoch=100)

C:\Users\virendra\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 3s 397us/step - loss: 0.4797 - acc: 0.7959
Epoch 2/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4276 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4222 - acc: 0.7999
Epoch 4/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4182 - acc: 0.8214
Epoch 5/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4162 - acc: 0.8266
Epoch 6/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4142 - acc: 0.8297
Epoch 7/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4129 - acc: 0.8314
Epoch 8/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.4114 - acc: 0.8314
Epoch 9/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4101 - acc: 0.8331
Epoch 10/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4094 - acc: 0.8326
Epoch 11/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4082 - acc: 0.8326
Epoch 12/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4078 - acc: 0.8339
Epoch 13/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4066 - acc: 0.8336
Epoch 14/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.4063 - acc: 0.8336
Epoch 15/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4059 - acc: 0.8334
Epoch 16/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4055 - acc: 0.8340
Epoch 17/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4052 - acc: 0.8354
Epoch 18/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.4034 - acc: 0.8356
Epoch 19/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4044 - acc: 0.8351
Epoch 20/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4043 - acc: 0.8351
Epoch 21/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4036 - acc: 0.8350
Epoch 22/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4037 - acc: 0.8325
Epoch 23/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.4039 - acc: 0.8349
Epoch 24/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4030 - acc: 0.8349
Epoch 25/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4026 - acc: 0.8335
Epoch 26/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4030 - acc: 0.8345
Epoch 27/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4028 - acc: 0.8346
Epoch 28/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4026 - acc: 0.8336
Epoch 29/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4028 - acc: 0.8359
Epoch 30/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4024 - acc: 0.8347
Epoch 31/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4025 - acc: 0.8354
Epoch 32/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4018 - acc: 0.8352
Epoch 33/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4024 - acc: 0.8357
Epoch 34/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4022 - acc: 0.8346
Epoch 35/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4021 - acc: 0.8345
Epoch 36/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4016 - acc: 0.8350
Epoch 37/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4020 - acc: 0.8350
Epoch 38/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4020 - acc: 0.8351
Epoch 39/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4020 - acc: 0.8350
Epoch 40/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4022 - acc: 0.8345
Epoch 41/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4019 - acc: 0.8340
Epoch 42/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4020 - acc: 0.8351
Epoch 43/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4018 - acc: 0.8364
Epoch 44/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4016 - acc: 0.8346
Epoch 45/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.4016 - acc: 0.8346
Epoch 46/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4014 - acc: 0.8351
Epoch 47/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4018 - acc: 0.8345
Epoch 48/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4016 - acc: 0.8347
Epoch 49/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4012 - acc: 0.8351
Epoch 50/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4011 - acc: 0.8336
Epoch 51/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4012 - acc: 0.8352
Epoch 52/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4010 - acc: 0.8354
Epoch 53/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4015 - acc: 0.8355
Epoch 54/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.4014 - acc: 0.8356
Epoch 55/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.4016 - acc: 0.8342
Epoch 56/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4010 - acc: 0.8356
Epoch 57/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4008 - acc: 0.8340
Epoch 58/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4011 - acc: 0.8340
Epoch 59/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4007 - acc: 0.8356
Epoch 60/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4013 - acc: 0.8336
Epoch 61/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4012 - acc: 0.8355
Epoch 62/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4010 - acc: 0.8352
Epoch 63/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4011 - acc: 0.8346
Epoch 64/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.4008 - acc: 0.8365
Epoch 65/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4007 - acc: 0.8342
Epoch 66/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4010 - acc: 0.8351
Epoch 67/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4006 - acc: 0.8337
Epoch 68/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4011 - acc: 0.8355
Epoch 69/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4007 - acc: 0.8367
Epoch 70/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4008 - acc: 0.8352
Epoch 71/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4009 - acc: 0.8361
Epoch 72/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4009 - acc: 0.8356
Epoch 73/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4008 - acc: 0.8347
Epoch 74/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4009 - acc: 0.8336
Epoch 75/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.4007 - acc: 0.8362
Epoch 76/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4006 - acc: 0.8342
Epoch 77/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4004 - acc: 0.8346
Epoch 78/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4007 - acc: 0.8347
Epoch 79/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4003 - acc: 0.8355
Epoch 80/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4002 - acc: 0.8350
Epoch 81/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4008 - acc: 0.8344
Epoch 82/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4007 - acc: 0.8340
Epoch 83/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4007 - acc: 0.8350
Epoch 84/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4006 - acc: 0.8347
Epoch 85/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4005 - acc: 0.8336
Epoch 86/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4006 - acc: 0.8366
Epoch 87/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4007 - acc: 0.8347
Epoch 88/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4006 - acc: 0.8346
Epoch 89/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4003 - acc: 0.8359
Epoch 90/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4007 - acc: 0.8347
Epoch 91/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4007 - acc: 0.8351
Epoch 92/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4008 - acc: 0.8356
Epoch 93/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4000 - acc: 0.8355
Epoch 94/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4008 - acc: 0.8357
Epoch 95/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4003 - acc: 0.8360
Epoch 96/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4004 - acc: 0.8346
Epoch 97/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4007 - acc: 0.8360
Epoch 98/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4005 - acc: 0.8349
Epoch 99/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4009 - acc: 0.8354
Epoch 100/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4004 - acc: 0.8356

In [35]:
#part 3-Making the prediction ptobability

In [239]:
X_test.shape

(2000, 11)

In [240]:
y_pred=classifier.predict(X_test)

In [241]:
y_pred=(y_pred>0.5)

In [242]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [243]:
cm

array([[1550,   45],
       [ 270,  135]], dtype=int64)

In [244]:
(1545+141)/2000

0.843

In [41]:
#part4 predict single member decisiion

In [197]:
cred={
    "yup":0.0,
    "Geography":0,
    "Credit Score": 600,
    "Gender": 1,
    "Age": 40,
    "Tenure": 3,
    "Balance": 60000,
    "Number of Products": 2,
    "Does this customer have a credit card ": "Yes",
    "Is this customer an Active Member": "Yes",
    "Estimated Salary":50000}

In [198]:
(cred.keys())

dict_keys(['yup', 'Geography', 'Credit Score', 'Gender', 'Age', 'Tenure', 'Balance', 'Number of Products', 'Does this customer have a credit card ', 'Is this customer an Active Member', 'Estimated Salary'])

In [209]:
ke=[]
val=[]
c=0
for key, value in cred.items():
    ke.append(key)
    val.append(value)
    c+=1

In [200]:
people=[]
for i in range(len(ke)):
    people.append([ke[i],val[i]])

In [201]:
people

[['yup', 0.0],
 ['Geography', 0],
 ['Credit Score', 600],
 ['Gender', 1],
 ['Age', 40],
 ['Tenure', 3],
 ['Balance', 60000],
 ['Number of Products', 2],
 ['Does this customer have a credit card ', 'Yes'],
 ['Is this customer an Active Member', 'Yes'],
 ['Estimated Salary', 50000]]

In [210]:
ke

['yup',
 'Geography',
 'Credit Score',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'Number of Products',
 'Does this customer have a credit card ',
 'Is this customer an Active Member',
 'Estimated Salary']

In [211]:
X=np.array(ke).reshape(1,11)
y=np.array(val).reshape(1,11)

In [212]:
y

array([['0.0', '0', '600', '1', '40', '3', '60000', '2', 'Yes', 'Yes',
        '50000']], dtype='<U32')

In [220]:
df = pd.DataFrame(y,columns=ke)
df

,yup,Geography,Credit Score,Gender,Age,Tenure,Balance,Number of Products,Does this customer have a credit card,Is this customer an Active Member,Estimated Salary
0,0.0,0,600,1,40,3,60000,2,Yes,Yes,50000

In [221]:
df=np.array(df)
df.shape

(1, 11)

In [215]:
# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_df_1 = LabelEncoder()
df[:, 2] = labelencoder_df_1.fit_transform(df[:, 2])

In [222]:
labelencoder_df_2 = LabelEncoder()
df[:, 9] = labelencoder_df_2.fit_transform(df[:, 9])
labelencoder_df_3 = LabelEncoder()
df[:, 8] = labelencoder_df_3.fit_transform(df[:, 8])

In [223]:
XX=df
XX

array([['0.0', '0', '600', '1', '40', '3', '60000', '2', 0, 0, '50000']],
      dtype=object)

In [224]:
onehotencoder = OneHotEncoder(categorical_features = [1])
XX = onehotencoder.fit_transform(XX).toarray()
XX

array([[1.e+00, 0.e+00, 6.e+02, 1.e+00, 4.e+01, 3.e+00, 6.e+04, 2.e+00,
        0.e+00, 0.e+00, 5.e+04]])

In [225]:
sc.transform(XX)

array([[ 1.00000000e+00, -1.09065534e-16,  6.00000000e+02,
         1.00000000e+00,  4.00000000e+01,  3.00000000e+00,
         6.00000000e+04,  2.00000000e+00,  1.31034072e-16,
         2.78665979e-17,  5.00000000e+04]])

In [246]:
npred=classifier.predict(XX)

In [247]:
npred=(npred>0.5)

In [248]:
npred

array([[False]])

In [253]:
#Evaluating the ANN

In [250]:
from keras.wrappers.scikit_learn import KerasClassifier

In [252]:
from sklearn.model_selection import cross_val_score

In [254]:
def build_classifier():
    classifier = Sequential()
    classifier.add(Dense(output_dim=6,init='uniform',activation='relu',input_dim=11))
    classifier.add(Dense(output_dim=6,init='uniform',activation='relu'))
    classifier.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))
    classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [255]:
classifier=KerasClassifier(build_fn=build_classifier,batch_size=10,nb_epoch=100)

In [ ]:
accuracies=cross_val_score(estimator=classifier,X=X_train,y=y_train,cv=10,n_jobs=-1)

In [ ]:
accuracies.mean()

In [ ]:
#parameter tuning